<h3>Top Warframes</h3>
<div class="grid grid-pad">
  <a *ngFor="let warframe of topWarframes" [routerLink]="['/detail', warframe.id]" class="col-1-4">
    <div class="module warframe">
      <h4>{{warframe.name}}</h4>
    </div>
  </a>
</div>
<div>
  <label>Warframe name:</label> <input #warframeName />
  <button (click)="add(warframeName.value); warframeName.value=''">
    Add
  </button>
</div>
<ul class="warframes">
  <li *ngFor="let warframe of warframes"
      [class.selected]="warframe === selectedWarframe"
      (click)="onSelect(warframe)">
    <span class="badge">{{warframe.id}}</span>
    <span>{{warframe.name}}</span>
    <button class="delete"
            (click)="delete(warframe); $event.stopPropagation()">x</button>
  </li>
</ul>

<div *ngIf="selectedWarframe">
  <h2>
    {{selectedWarframe.name}} preview
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
